
# API and web.
fastapi
uvicorn
jinja2
aiofiles
websockets
requests
# Audio, etc.
pyaudio
numpy
scipy
psutil
pyusb
# GPS and date/time.
pyserial
pyserial-asyncio
pytz
python-dateutil
astral
# Config.
pyyaml
# VS Code.
pylint
black