
# API and web.
fastapi
uvicorn
jinja2
aiofiles
websockets
requests
# Audio.
pyalsaaudio # For RPi.
### pyaudio # For macOS, Windows, etc.
# Calculations.
### numpy # Use "sudo apt install python3-numpy".
### scipy # Use "sudo apt install python3-scipy".
# Files.
psutil
pyusb
# Plotting.
matplotlib
watchdog
# GPS.
pyserial
pyserial-asyncio
# Date/time and sun/moon..
pytz
python-dateutil
astral
# Config.
pyyaml
# Reports.
xlsxwriter
# VS Code.
pylint
black
