
# API and web.
fastapi
uvicorn
jinja2
aiofiles
websockets
requests
# Audio.
### pyalsaaudio # For Raspberry Pi.
pyaudio # For macOS, Windows, etc.
sounddevice # For macOS, Windows, etc.
# Calculations.
numpy
scipy
# Files.
psutil
pyusb
# Plotting.
matplotlib
pybase64
# GPS.
pyserial
pyserial-asyncio
# Date/time and sun/moon..
pytz
python-dateutil
astral
# Config.
pyyaml
# Reports.
xlsxwriter
# VS Code.
pylint
black
