[Unit]
Description=CloudedBats WURB-2024 Bat detector.  
After=network.target
### Before=nginx.service

[Service]
Restart=always
TimeoutStopSec=10s
User=wurb
WorkingDirectory=/home/wurb/cloudedbats_wurb_2024
ExecStart=/home/wurb/cloudedbats_wurb_2024/venv/bin/python3 /home/wurb/cloudedbats_wurb_2024/wurb_main.py

[Install]
WantedBy=multi-user.target