<div class="tile is-parent is-vertical">
    <article class="tile is-child box has-background-grey-lighter">
        <p class="title is-4 m-0">About</p>
        <p class="subtitle is-5 m-0">CloudedBats WURB-2024</p>
        <p class="subtitle is-6">Version: {{ wurb_version }}</p>
        <div class="content">
            <p>
                CloudedBats WURB-2024 is a Do-It-Yourself, DIY, bat detector.
                It is based on three main parts; a small computer called Raspberry Pi,
                an ultrasonic microphone, and free and open source software.
                Then there are some optional parts like GPS dongle, etc.
            </p>
            <p>
                <strong>Note: </strong>
                CloudedBats WURB-2024 is under development. Please use the earlier major version
                until the new one is finished and well tested. Link to the earlier version:
                <a href="https://github.com/cloudedbats/cloudedbats_wurb_2020">
                    CloudedBats WURB-2020.
                </a>
            </p>
            <p>
                Useful links (only available when the WURB detector
                is connected to internet):
            <ul>
                <li>
                    <a href="https://cloudedbats.github.io">
                        About the CloudedBats project (https://cloudedbats.github.io).</a>
                </li>
                <li>
                    <a
                        href="https://github.com/cloudedbats/cloudedbats_wurb_2020/blob/master/docs/user_manual_basic.md#cloudedbats-wurb">
                        User manual (only available for the WURB-2020 version).</a>
                </li>
                <li>
                    <a href="https://github.com/cloudedbats/cloudedbats_wurb_2024">
                        Source code and installation instructions.</a>
                </li>
                <li>
                    <a href="/docs">REST API for developers.</a>
                </li>
            </ul>
            </p>
            <p>
                Developed by: Arnold&nbsp;Andreasson,&nbsp;Sweden.<br />
                Contact and feedback: info@cloudedbats.org
            </p>
        </div>
    </article>
</div>