<div class="tile is-parent is-vertical m-5">
    <article class="tile is-child box has-background-grey-dark">

        <div class="field">
            <div class="container is-fluid">
                <div class="is-pulled-right">
                    <button class="delete is-large m-2" onclick="activateModuleRecord()"></button>
                </div>
            </div>
        </div>

        <p class="title m-0 mb-2">About</p>
        <p class="subtitle m-0">CloudedBats WURB-2026</p>
        <p class="subtitle is-size-7">Version: {{ wurb_version }}</p>
        <div class="content">
            <p>
                The Do-It-Yourself ultrasonic sound detector for bat monitoring.
            </p>
            <p>
                Read more on GitHub:
            <ul>
                <li>
                    <a href="https://github.com/cloudedbats/wurb_2026">
                        https://github.com/cloudedbats/wurb_2026
                    </a>
                </li>
            </ul>
            </p>
            <p class="is-size-7">
                Developed by: Arnold&nbsp;Andreasson,&nbsp;Sweden.<br />
                Contact and feedback: info@cloudedbats.org
            </p>
        </div>
    </article>
</div>