<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CloudedBats - WURB</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <link rel="stylesheet" href="../static/css/wurb_slider.css">
    <link rel="stylesheet" href="{{ url_for('static', path='css/wurb_slider.css') }}">
    <script src="../static/js/main.js"></script>
</head>

<body>

    <div class="tile is-ancestor is-vertical m-0">
        <div class="tile is-parent">
            <article class="tile is-child box py-1">
                <div class="content">

                    <div class="field">
                        <div class="container is-fluid">
                            <div class="is-pulled-right">
                                <button class="button is-rounded is-small has-text-weight-bold"
                                    onclick="adminToggleSettings()">
                                    <span id="admin-show-settings-text-id">Show settings</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <p class="title is-4">
                        Administration
                    </p>

                    <section id="admin-boddy-id" class="section has-background-grey-lighter p-2">

                        <div class="field">
                            <label class="label">Source&nbsp;folder&nbsp;/&nbsp;monitoring&nbsp;night</label>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <div class="select is-rounded is-small has-text-weight-bold is-info">
                                    <select id="admin-select-source-id" onchange="adminSourceChanged()">
                                        <option value="select">Select:</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control">
                                <div class="select is-rounded is-small has-text-weight-bold is-info">
                                    <select id="admin-select-night-id" onchange="adminNightChanged()">
                                        <option value="select">Select:</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <!-- <label class="label">Select</label> -->
                            <div class="container is-fluid m-2">
                                <div class="buttons is-centered">
                                    <button id="admin-view-metadata-button-id" onclick="adminToggleViewMetadata()"
                                        class="button is-rounded is-small has-text-weight-bold is-info is-inverted">Data</button>
                                    <button id="admin-view-spectrogram-button-id" onclick="adminToggleViewMap()"
                                        class="button is-rounded is-small has-text-weight-bold is-info is---inverted">Map</button>
                                </div>
                            </div>
                        </div>

                        <div id="admin-view-metadata-id" class="field is---hidden">
                            <div class="control">
                                <div class="table-container mx-5 my--2 p-2">
                                    <table class="table has-background-white-ter is-striped is-size-7">
                                        <tbody>
                                            <tr>
                                                <td class="has-text-right" style="white-space: nowrap;">Monitoring night
                                                </td>
                                                <th colspan="3" style="width: 90%;"><span
                                                        id="admin-metadata-record-file"></span></th>
                                            </tr>
                                            <tr>
                                                <td class="has-text-right" style="white-space: nowrap;">Directory path
                                                </td>
                                                <th colspan="3"><span id="admin-metadata-record-file"></span></th>
                                            </tr>
                                            <tr>
                                                <td class="has-text-right" style="white-space: nowrap;">Number of sound
                                                    files</td>
                                                <th colspan="3"><span id="admin-metadata-record-file"></span></th>
                                            </tr>
                                            <tr>
                                                <td class="has-text-right" style="white-space: nowrap;">Number of Q0
                                                    (trash)</td>
                                                <th colspan="3"><span id="admin-metadata-quality"></span></th>
                                            </tr>
                                            <tr>
                                                <td class="has-text-right" style="white-space: nowrap;">Number of "Not
                                                    Assigned"</td>
                                                <th colspan="3"><span id="admin-metadata-tags"></span></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="buttons is-centered">
                                <button id="admin-previous-id" onclick="adminPrevious()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">Previous</button>
                                <button id="admin-next-id" onclick="adminNext()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">Next</button>
                                <button id="admin-last-id" onclick="adminUpdate()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">Update</button>
                            </div>
                        </div>

                        <div class="field pt-2">
                            <div class="label">
                                <label class="label">
                                    Comments for monitoring night
                                    <span id="admin-recording-short-info"></span>
                                </label>
                            </div>
                        </div>


                        <!-- <div class="field">
                            <label class="label">Comments</label>
                        </div> -->
                        <div class="field">
                            <p class="control">
                                <input class="input" type="text" id="admin-comments-id"
                                    placeholder="Comments on deployment/night" onchange="adminSaveComments();">
                            </p>
                        </div>



                        <div class="field mt-4">
                            <label class="label">Cleanup commands</label>
                        </div>
                        <div class="container">
                            <div class="buttons">
                                <button id="visual-feedback-auto-id" onclick="fetchXXX()"
                                    class="button is-small is-rounded is-info">
                                    <strong>Remove all Q0 (trash)</strong>
                                </button>
                                <button id="visual-feedback-auto-id" onclick="fetchXXX()"
                                    class="button is-small is-rounded is-info">
                                    <strong>Remove all "Not Assigned"</strong>
                                </button>
                            </div>
                        </div>



                        <div class="field mt-4">
                            <label class="label">Rename commands</label>
                        </div>
                        <div class="container">
                            <div class="buttons">
                                <button id="visual-feedback-auto-id" onclick="fetchXXX()"
                                    class="button is-small is-rounded is-info">
                                    <strong>Rename sound files</strong>
                                </button>
                                <button id="visual-feedback-auto-id" onclick="fetchXXX()"
                                    class="button is-small is-rounded is-info">
                                    <strong>Adjust positions</strong>
                                </button>
                            </div>
                        </div>



                        <div class="field mt-4">
                            <label class="label">Report commands</label>
                        </div>
                        <div class="container">
                            <div class="buttons">
                                <button id="visual-feedback-auto-id" onclick="fetchXXX()"
                                    class="button is-small is-rounded is-info">
                                    <strong>Create report</strong>
                                </button>
                                <button id="visual-feedback-auto-id" onclick="fetchXXX()"
                                    class="button is-small is-rounded is-info">
                                    <strong>Preview report</strong>
                                </button>
                                <button id="visual-feedback-auto-id" onclick="fetchXXX()"
                                    class="button is-small is-rounded is-info">
                                    <strong>Download latest report</strong>
                                </button>
                            </div>
                        </div>



                        <div class="field mt-4">
                            <label class="label">Copy commands</label>
                        </div>
                        <div class="container">
                            <div class="buttons">
                                <button id="visual-feedback-auto-id" onclick="fetchXXX()"
                                    class="button is-small is-rounded is-info">
                                    <strong>Copy monitoring night</strong>
                                </button>
                                <button id="visual-feedback-auto-id" onclick="fetchXXX()"
                                    class="button is-small is-rounded is-info">
                                    <strong>Copy all monitoring nights</strong>
                                </button>
                            </div>
                        </div>



                        <div class="field mt-4">
                            <label class="label">Delete commands</label>
                        </div>
                        <div class="container mb-4">
                            <div class="buttons">
                                <button id="visual-feedback-auto-id" onclick="fetchXXX()"
                                    class="button is-small is-rounded is-info">
                                    <strong>Delete monitoring night</strong>
                                </button>
                                <button id="visual-feedback-auto-id" onclick="fetchXXX()"
                                    class="button is-small is-rounded is-info">
                                    <strong>Delete all monitoring nights</strong>
                                </button>
                            </div>
                        </div>



                    </section>

                    <section id="admin-settings-id" class="section p-2 has-background-grey-light is-hidden">
                        <div class="field">
                            <div class="container is-fluid">
                                <div class="is-pulled-right">
                                    <button class="delete is-large m-2" onclick="adminToggleSettings()"></button>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="title is-4">Settings</label>
                        </div>

                        <div class="field">
                            <label class="label">Filter&nbsp;on&nbsp;quality</label>
                        </div>

                    </section>



                </div>
            </article>
        </div>
    </div>

</body>

</html>