<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CloudedBats - WURB</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <link rel="stylesheet" href="../static/css/wurb_slider.css">
    <link rel="stylesheet" href="{{ url_for('static', path='css/wurb_slider.css') }}">
    <!-- <script src="../static/js/ajax.js"></script> -->
</head>

<body>

    <div class="tile is-ancestor is-vertical m-0">
        <div class="tile is-parent">
            <article class="tile is-child box py-1">
                <div class="content is-large">

                    <div class="field">
                        <div class="container is-fluid">
                            <div class="is-pulled-right">
                                <button class="button is-rounded is-small has-text-weight-bold">
                                    Show settings
                                </button>
                            </div>
                        </div>
                    </div>

                    <p class="title is-4">
                        Field annotations
                    </p>

                    <section class="section has-background-grey-lighter p-2 is---hidden">

                        <div class="field">
                            <label class="label">Select&nbsp;folder&nbsp;/&nbsp;monitoring&nbsp;night</label>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <div class="select is-rounded is-small has-text-weight-bold is-info">
                                    <select id="anno-select-folder-id" onchange="annoFolderChanged()">
                                        <option value="drive-internal">Internal SD card</option>
                                        <option value="drive-usb">USB: Memory</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control">
                                <div class="select is-rounded is-small has-text-weight-bold is-info">
                                    <select id="anno-select-night-id" onchange="annoNightChanged()">
                                        <option value="select">Please select:</option>
                                        <option value="Taberg_2022-12-30">Taberg_2022-12-30</option>
                                        <option value="Taberg_2022-12-31">Taberg_2022-12-31</option>
                                        <option value="Taberg_2023-01-01">Taberg_2023-01-01</option>
                                        <option value="Taberg_2023-01-02">Taberg_2023-01-02</option>
                                        <option value="Taberg_2023-01-03">Taberg_2023-01-03</option>
                                        <option value="Taberg_2023-01-04">Taberg_2023-01-04</option>
                                        <option value="Taberg_2023-01-05">Taberg_2023-01-05</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Filter&nbsp;on&nbsp;quality</label>
                        </div>

                        <div class="field">
                            <div class="content">
                                <div class="container">
                                    <div class="control has-text-weight-bold">
                                        <label class="checkbox">
                                            <input id="anno-filter-q0-id" class="mr-1" type="checkbox"
                                                onchange="XXXXX()" checked>Q0
                                        </label>
                                        <label class="checkbox">
                                            <input id="anno-filter-q1-id" class="mx-1" type="checkbox"
                                                onchange="XXXXX()" checked>Q1
                                        </label>
                                        <label class="checkbox">
                                            <input id="anno-filter-q2-id" class="mx-1" type="checkbox"
                                                onchange="XXXXX()" checked>Q2
                                        </label>
                                        <label class="checkbox">
                                            <input id="anno-filter-q3-id" class="mx-1" type="checkbox"
                                                onchange="XXXXX()" checked>Q3
                                        </label>
                                        <label class="checkbox">
                                            <input id="anno-filter-not-assigned-id" class="mx-1" type="checkbox"
                                                onchange="XXXXX()" checked>Not assigned
                                        </label>
                                        <button id="anno-filter-clear-all" onclick="annoClearFilter()"
                                            class="button is-rounded is-small has-text-weight-bold is-info mx-1">
                                            Clear
                                        </button>
                                        <button id="anno-filter-set-all" onclick="annoSetFilter()"
                                            class="button is-rounded is-small has-text-weight-bold is-info mx-1">
                                            Mark all
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field pt-2">
                            <label class="label">View recordings</label>
                        </div>
                        <div class="field">
                            <!-- <label class="label">Select</label> -->
                            <div class="container is-fluid m-2">
                                <div class="buttons is-centered">
                                    <button id="visual-feedback-auto-id" onclick="XXXXX()"
                                        class="button is-rounded is-small has-text-weight-bold is-info">Files</button>
                                    <button id="visual-feedback-first-id" onclick="XXXXX()"
                                        class="button is-rounded is-small has-text-weight-bold is-info">Overview</button>
                                    <button id="visual-feedback-previous-id" onclick="XXXXX()"
                                        class="button is-rounded is-small has-text-weight-bold is-info">Spectrogram</button>
                                    <button id="visual-feedback-previous-id" onclick="XXXXX()"
                                        class="button is-rounded is-small has-text-weight-bold is-info">Details</button>
                                </div>
                            </div>

                            <div class="control">
                                <!-- <figure class="image is-16by9">
                                        <iframe class="has-ratio" width="640" height="360" src=""
                                            frameborder="0" allowfullscreen></iframe>
                                    </figure> -->
                                <figure class="image is--128x128">
                                    <img class="is--rounded" src="{{ url_for('static', path='SPECTROGRAM.jpg') }}">
                                    <!-- <img class="is--rounded" src="file://SPECTROGRAM.jpg"> -->
                                </figure>
                            </div>
                        </div>

                        <div class="container">
                            <div class="buttons is-centered">
                                <button id="visual-feedback-first-id" onclick="annoFirst()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">First</button>
                                <button id="visual-feedback-previous-id" onclick="annoPrevious()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">Previous</button>
                                <button id="visual-feedback-next-id" onclick="annoNext()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">Next</button>
                                <button id="visual-feedback-last-id" onclick="annoLast()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">Last</button>
                            </div>
                        </div>


                        <div class="field pt-2">
                            <div class="label">
                                <label class="label">
                                    Select quality
                                </label>
                            </div>
                        </div>


                        <div class="field">
                            <div class="content">
                                <div class="container">
                                    <div class="control has-text-weight-bold">
                                        <label class="radio">
                                            <input id="anno-q0-id" type="radio" name="quality" onchange="annoSetQ0()">
                                            Q0 (trash)
                                        </label>
                                        <label class="radio">
                                            <input id="anno-q1-id" type="radio" name="quality" onchange="annoSetQ1()">
                                            Q1 (red)
                                        </label>
                                        <label class="radio">
                                            <input id="anno-q2-id" type="radio" name="quality" onchange="annoSetQ2()">
                                            Q2 (yellow)
                                        </label>
                                        <label class="radio">
                                            <input id="anno-q3-id" type="radio" name="quality" onchange="annoSetQ3()">
                                            Q3 (green)
                                        </label>
                                        <label class="radio">
                                            <input id="anno-not-assigned-id" type="radio" name="quality"
                                                onchange="annoSetQNA()">
                                            Not assigned
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="field">
                            <div class="label">
                                <label class="label">Select tags (white are selected)</label>
                            </div>
                        </div>

                        <div class="container pb-4 ml-0">
                            <div class="buttons">
                                <button id="visual-feedback-first-id" onclick="XXXXX()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">FM-CF-FM</button>
                                <button id="visual-feedback-auto-id" onclick="XXXXX()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">FM</button>
                                <button id="visual-feedback-auto-id" onclick="XXXXX()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">FM-QCF</button>
                                <button id="visual-feedback-auto-id" onclick="XXXXX()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">QCF</button>
                                <button id="visual-feedback-auto-id" onclick="XXXXX()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">FM-H2</button>
                                <button id="visual-feedback-auto-id" onclick="XXXXX()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">QCF--FM</button>

                            </div>
                        </div>

                        <!-- <div class="container pb-4 ml-0">
                            <div class="buttons">
                                <button id="visual-feedback-first-id" onclick="XXXXX()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">FMd-QCF</button>
                                <button id="visual-feedback-previous-id" onclick="XXXXX()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">FMu-QCF</button>
                                <button id="visual-feedback-auto-id" onclick="XXXXX()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">QCF-FMd</button>
                                <button id="visual-feedback-next-id" onclick="XXXXX()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">CF-FMd</button>
                                <button id="visual-feedback-last-id" onclick="XXXXX()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">FMu-QCF-FMd</button>
                                <button id="visual-feedback-auto-id" onclick="XXXXX()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">FMu-CF-FMd</button>
                                <button id="visual-feedback-auto-id" onclick="XXXXX()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">FMd</button>
                                <button id="visual-feedback-auto-id" onclick="XXXXX()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">CF-FMd-CF</button>
                            </div>
                        </div> -->

                        <div class="container pb-4 ml-0">
                            <div class="buttons">
                                <button id="visual-feedback-first-id" onclick="XXXXX()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">Social</button>
                                <button id="visual-feedback-first-id" onclick="XXXXX()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">Birds</button>
                                <button id="visual-feedback-first-id" onclick="XXXXX()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">Mammals</button>
                                <button id="visual-feedback-first-id" onclick="XXXXX()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">Crickets</button>
                            </div>
                        </div>


                        <div class="field">
                            <label class="label">Comments</label>
                        </div>
                        <div class="field">
                            <p class="control">
                                <input class="input" type="email" placeholder="Comments on recording">
                            </p>
                        </div>


                        <div class="field">
                            <label class="label">Quick commands</label>
                        </div>
                        <div class="container">
                            <div class="buttons">
                                <button id="visual-feedback-auto-id" onclick="XXXXX()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">Clear</button>
                                <button id="visual-feedback-auto-id" onclick="XXXXX()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">Copy</button>
                                <button id="visual-feedback-next-id" onclick="XXXXX()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">Copy + next</button>
                                <button id="visual-feedback-first-id" onclick="XXXXX()"
                                    class="button is-rounded is-small has-text-weight-bold is-info">Download</button>
                            </div>
                        </div>

                    </section>


                    <section class="section p-2 is-hidden has-background-grey-light">
                        <div class="field">
                            <div class="container is-fluid">
                                <div class="is-pulled-right">
                                    <button class="delete is-large m-2"></button>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="title is-4">Settings</label>
                        </div>
                    </section>

                </div>
            </article>
        </div>
    </div>

</body>

</html>