<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CloudedBats WURB-2023</title>

    <!-- Bulma stylesheets: https://bulma.io/ -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/bulma.min.css') }}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/wurb_slider.css') }}">

    <script src="{{ url_for('static', path='js/main.js') }}"></script>
    <script src="{{ url_for('static', path='js/record.js') }}"></script>
    <script src="{{ url_for('static', path='js/record_client.js') }}"></script>
    <script src="{{ url_for('static', path='js/live.js') }}"></script>
    <script src="{{ url_for('static', path='js/live_client.js') }}"></script>
    <script src="{{ url_for('static', path='js/annotations.js') }}"></script>
    <script src="{{ url_for('static', path='js/annotations_client.js') }}"></script>
    <script src="{{ url_for('static', path='js/administration.js') }}"></script>
    <script src="{{ url_for('static', path='js/administration_client.js') }}"></script>
    <script src="{{ url_for('static', path='js/mousetrap.js') }}"></script>
    <script src="{{ url_for('static', path='js/mousetrap_bindings.js') }}"></script>
    <!-- <script src="{{ url_for('static', path='js/main.js/?v=100') }}"></script>
    <script src="{{ url_for('static', path='js/record.js/?v=100') }}"></script>
    <script src="{{ url_for('static', path='js/record_client.js/?v=100') }}"></script>
    <script src="{{ url_for('static', path='js/live.js/?v=100') }}"></script>
    <script src="{{ url_for('static', path='js/live_client.js/?v=100') }}"></script>
    <script src="{{ url_for('static', path='js/annotations.js/?v=100') }}"></script>
    <script src="{{ url_for('static', path='js/annotations_client.js/?v=100') }}"></script>
    <script src="{{ url_for('static', path='js/administration.js/?v=100') }}"></script>
    <script src="{{ url_for('static', path='js/administration_client.js/?v=100') }}"></script>
    <script src="{{ url_for('static', path='js/mousetrap.js/?v=100') }}"></script>
    <script src="{{ url_for('static', path='js/mousetrap_bindings.js/?v=100') }}"></script> -->
</head>

<body onLoad="fetchModules()">
    <section class="hero is-fullheight is-fullwidth">
        <div class="hero-head has-background-black">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="https://cloudedbats.github.io">
                        <!-- <img c src="../static/images/cloudedbats_logo.png"> -->
                        <img src="{{ url_for('static', path='images/cloudedbats_logo.png') }}">
                    </a>
                    <p class="navbar-item p-0">
                        <span
                            class="is-clickable is-family-sans-serif has-text-weight-bold has-text-info is-size-6 mr-3"
                            onclick="activateModuleAbout()">
                            CloudedBats WURB
                        </span>
                    </p>
                </div>
            </nav>
            <div class="container is-fluid mb-3">
                <div class="buttons is-centered">
                    <button id="moduleRecordId" onclick="activateModuleRecord()"
                        class="button is-small is-rounded has-text-weight-bold is-info is-inverted">Record</button>
                    <button id="moduleLiveId" onclick="activateModuleLive()"
                        class="button is-small is-rounded has-text-weight-bold is-info is-inverted">Live</button>
                    <button id="moduleAnnotationsId" onclick="activateModuleAnnotations()"
                        class="button is-small is-rounded has-text-weight-bold is-info is-inverted">Annotations</button>
                    <button id="moduleAdminId" onclick="activateModuleAdministration()"
                        class="button is-small is-rounded has-text-weight-bold is-info is-inverted">Administration</button>
                </div>
            </div>
        </div>

        <div class="hero-body has-background-grey m-0 p-0">
            <!-- <div class="has-background-grey"> -->
            <div class="container is-fluid">
                <div id="heroBodyRecordId" class="is-centered is-hidden">
                    <p class="title m-5">NOT LOADED...</p>
                </div>
                <div id="heroBodyLiveId" class="is-centered is-hidden">
                    <p class="title m-5">NOT LOADED...</p>
                </div>
                <div id="heroBodyAnnotationsId" class="is-centered is-hidden">
                    <p class="title m-5">NOT LOADED...</p>
                </div>
                <div id="heroBodyAdminId" class="is-centered is-hidden">
                    <p class="title m-5">NOT LOADED...</p>
                </div>
                <div id="heroBodyAboutId" class="is-centered is-hidden">
                    <p class="title m-5">NOT LOADED...</p>
                </div>
            </div>
        </div>

        <div class="hero-foot has-background-grey-dark">
            <nav class="tabs">
                <div class="container is-fluid my-3 mx-5">
                    <ul class="is-pulled-left">
                        <li>
                            <p class="has-text-white">Detector time:</p>
                        </li>
                        <li>
                            <p class="has-text-white pl-1"><span id="detectorTimeId"></span></p>
                        </li>
                        <!-- <li>
                            <p class="has-text-white pl-5">Mode:</p>
                        </li>
                        <li>
                            <p class="has-text-white pl-1">Off (scheduler)</p>
                        </li> -->
                    </ul>
                    <ul class="is-pulled-right">
                        <li>
                            <p class="is-clickable has-text-white" onclick="activateModuleAbout()">About</>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

</body>

</html>