<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CloudedBats WURB</title>
    <!-- Bulma stylesheets: https://bulma.io/ -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='css/bulma.min.css') }}"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- For AJAX. -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static', path='js/ajax.js/?v=003') }}"></script>

    <!-- <script src="{{ url_for('static', path='js/wurb_globals.js/?v=15') }}"></script> -->
    <!-- <script src="{{ url_for('static', path='js/wurb_ui.js/?v=15') }}"></script> -->
    <!-- <script src="{{ url_for('static', path='js/wurb_client.js/?v=15') }}"></script> -->
    <!-- <script src="{{ url_for('static', path='js/wurb_onload.js/?v=15') }}"></script> -->

    <link rel="stylesheet" href="{{ url_for('static', path='css/wurb_slider.css') }}">
</head>

<body>
    <section class="hero is-fullheight is-fullwidth">
        <div class="hero-head has-background-black">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="https://cloudedbats.github.io">
                        <!-- <img c src="../static/images/cloudedbats_logo.png"> -->
                        <img src="{{ url_for('static', path='images/cloudedbats_logo.png') }}">
                    </a>
                    <p class="navbar-item p-0">
                        <span
                            class="is-clickable is-family-sans-serif has-text-weight-bold has-text-info is-size-6 mr-3"
                            onclick="fetchAjaxAbout()">
                            CloudedBats WURB
                        </span>
                    </p>
                </div>
            </nav>
            <div class="container is-fluid mb-2">
                <div class="buttons is-centered">
                    <button id="ajax-record-id" onclick="fetchAjaxRecord()"
                        class="button is-small is-rounded is-info"><strong>Record</strong></button>
                    <button id="ajax-live-id" onclick="fetchAjaxLive()"
                        class="button is-small is-rounded is-info"><strong>Live</strong></button>
                    <button id="ajax-annotations-id" onclick="fetchAjaxAnnotations()"
                        class="button is-small is-rounded is-info"><strong>Annotations</strong></button>
                    <button id="ajax-files-id" onclick="fetchAjaxAdministration()"
                        class="button is-small is-rounded is-info"><strong>Administration</strong></button>
                </div>
            </div>
        </div>

        <div class="hero-body has-background-grey m-0 p-0">
            <!-- <div class="has-background-grey"> -->
            <div class="container is-fluid">
                <div id="hero-body-id" class="is-centered">
                    <p class="title m-5">NOT LOADED...</p>
                </div>
            </div>
        </div>

        <div class="hero-foot has-background-grey-dark">
            <nav class="tabs">
                <div class="container is-fluid my-3 mx-5">
                    <ul class="is-pulled-left">
                        <li>
                            <p class="has-text-white">Detector time:</p>
                        </li>
                        <li>
                            <p class="has-text-white pl-1">2023-01-03 23:10:20</p>
                        </li>
                        <li>
                            <p class="has-text-white pl-5">Mode:</p>
                        </li>
                        <li>
                            <p class="has-text-white pl-1">Off (scheduler)</p>
                        </li>
                    </ul>
                    <ul class="is-pulled-right">
                        <li>
                            <p class="is-clickable has-text-white" onclick="fetchAjaxAbout()">About</>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

</body>

</html>